<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="styles/general.css" rel="stylesheet" type="text/css" />
<link href="styles/main.css" rel="stylesheet" type="text/css" />
<link href="styles/app.css" rel="stylesheet" type="text/css" />
{insert_scripts files="../js/transport.js,common.js"}
<script type="text/javascript" src="{:asset('vendor/ueditor/ueditor.config.js')}"></script>
<script type="text/javascript" src="{:asset('vendor/ueditor/ueditor.all.js')}"></script>
<script>window.UEDITOR_CONFIG.serverUrl = "{:config('ueditor.route.name')}";</script>
<script type="text/javascript">
<!--
// 这里把JS用到的所有语言都赋值到这里
{foreach from=$lang.js_languages key=key item=item}
var {$key} = "{$item}";
{/foreach}
//-->
</script>
</head>
<body>
<header>
    <span class="action-span">{if $ur_here} {$ur_here} {else} {$lang.cp_home} {/if}</span>
    <div style="clear:both"></div>
</header>

<div class="container">
    {if $action_link}
    <div class="header_action">
        <span class="action-span"><a href="{$action_link.href}" class="btn btn-primary">{$action_link.text}</a></span>
        {if $action_link2}
        <span class="action-span"><a href="{$action_link2.href}" class="btn-primary-outline btn">{$action_link2.text}</a>&nbsp;&nbsp;</span>
        {/if}
    </div>
    {/if}
