<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="format-detection" content="telephone=no">
    <title>{$lang.cp_home}</title>
    <link rel="stylesheet" type="text/css" href="vendor/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/css/global.css"/>
    <link rel="stylesheet" type="text/css" href="vendor/css/price.css"/>
</head>

<body class="theme-new-ui ui-store hide-help">
<!-- ▼ Main sidebar -->
<aside id="app-sidebar">
    <div id="app-first-sidebar">
        <div>
            <a class="team-logo-wrap" href="#">
                <div class="team-logo" style="background-image: url(vendor/img/logo.png)">
                </div>
            </a>
            <nav id="app-first-sidebar-nav">
                <ul class="clearfix" id="app-first-sidebar-nav-ul">
                    <li class="active">
                        <a href="index.php?act=main" target="workspace">
                            <img class="sidebar-icon-svg"
                                 src="vendor/img/sidebar/superstore-icon-dashboard-active.svg"/>
                            概况
                        </a>
                    </li>
                    {foreach from=$menus item=menu key=k}
                    <li key="{$k}"{if $k eq '06_menu_promotion'} style="margin-top: 44px"{/if}>
                        <a href="#">
                            {if $k eq '01_menu_goods'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-goods.svg"/>
                            {elseif $k eq '02_menu_order'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-order.svg"/>
                            {elseif $k eq '03_menu_members'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-fans.svg"/>
                            {elseif $k eq '04_menu_stats'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-stat.svg"/>
                            {elseif $k eq '05_menu_finance'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-assets.svg"/>
                            {elseif $k eq '06_menu_promotion'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-marketing.svg"/>
                            {elseif $k eq '07_menu_shop'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-store.svg"/>
                            {elseif $k eq '08_menu_system'}
                            <img class="sidebar-icon-svg" src="vendor/img/sidebar/superstore-icon-setting.svg"/>
                            {/if}
                            {$menu.label}
                        </a>
                    </li>
                    {/foreach}
                </ul>
            </nav>
        </div>
    </div>
    <div id="app-user-info">
        <span class="user-name">admin</span>
        <span class="user-arrow"></span>
        <div class="user-dropdown">
            <div class="user-dropdown-meta">
                <div>admin</div>
                <div>+86-18801828888</div>
            </div>
            <div class="user-dropdown-select">
                <a href="/shop/v2/account/personal">帐号设置</a>
                <a href="//www.youzan.com/v2/shop/list">切换店铺</a>
                <a href="//www.youzan.com/v2/account/user/logout">退出</a>
            </div>
        </div>
    </div>
    <div id="app-second-sidebar" style="display: none;">
        {foreach from=$menus item=menu name=menu key=key}
        <div class="sub-nav" style="display:none;">
            <div class="second-sidebar-title">{$menu.label}</div>
            {if $menu.children}
            <nav>
                <ul>
                    {foreach from=$menu.children item=child name=child key=k}
                    <li{if $smarty.foreach.child.first} class="active"{/if}>
                        <a href="{$child.action}" target="workspace">{$child.label}</a>
                    </li>
                    {/foreach}
                </ul>
            </nav>
            {/if}
        </div>
        {/foreach}
    </div>
</aside>
<!-- ▲ Main sidebar -->

<!-- ▼ Main container -->
<div id="app-container" class="container empty-sub-list f-cb">
    <iframe src="index.php?act=main" id="workspace" name="workspace" frameborder="0" width="100%" height="100%"
            scrolling="yes"></iframe>
</div>
<!-- ▲ Main container -->

<script src="vendor/js/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/layer/layer.js" type="text/javascript" charset="utf-8"></script>
<script src="vendor/js/app.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>